<div class="row">
    <div class="box box-widget">
        <div class="box-body">
            <div class="col-md-2 margin-b-4">
                <h3 class="no-margin animated fadeInDown fast">
                    <span ng-bind="titulo"></span>
                    <small ng-bind="subtitulo"></small>
                </h3>
            </div>

            <div class="col-md-10 margin-b-6">
                <div class="pull-right">
                    <div class="btn-group">
                        <div class="input-group input-group-sm" style="width: 300px;">
                            <input type="text" class="form-control pull-right" placeholder="Buscar por Alumno o direccion" ng-model="buscar" ng-change="buscarAlumno()">
                            <div class="input-group-btn">
                                <button class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm" ng-click="editar({})"><i class="fa fa-plus margin-r-5"></i>Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-left margin-right">
    <div class="col-md-6">
        <div class="btn-group margin-r-5">
            <p class="text-muted no-margin">Mostrando {{alumnos.reg_pagina}} de {{alumnos.conteo}}</p>
        </div>
        <div class="btn-group input-group-sm">
            <select class="form-control" style="width: 80px;" ng-model="alumnos.reg_pagina" ng-options="registro.num as registro.num for registro in registros" ng-change="moverA(alumnos.pag_actual, alumnos.reg_pagina)">
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <div class="btn-group margin-r-5">
                <i class="fa fa-spinner fa-spin"  ng-show="alumnos.cargandoLista" ></i>
            </div>
            <div class="btn-group margin-r-5">
                <p class="text-muted no-margin">Pagina {{alumnos.pag_actual}} de {{alumnos.total_paginas}}</p>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="moverA(alumnos.pag_anterior, alumnos.reg_pagina)">
                    <i class="fa fa-arrow-left margin-r-5">
                    </i>
                    Anterior
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="moverA(alumnos.pag_siguiente, alumnos.reg_pagina)">
                    Siguiente
                    <i class="fa fa-arrow-right margin-l-5">
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row padding-por">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="alumno in alumnos.alumnos">
        <div class="box box-widget">
            <div class="box-body box-hover" ng-click="editar(alumno)">
                <h5 class="no-margin">
                    <strong>{{ alumno.nombres | capitalize }} {{ alumno.apellidos | capitalize }}</strong>
                </h5>
                <p class="no-margin"><i class="fa fa-map-marker"></i><span> {{ alumno.direccion | mensajecorto | lowercase}}</span></p>
                <address class="no-margin">
                    <i class="fa" ng-class="{'fa-bus' : alumno.ubicacion === 'EXPRESO' , 'fa-home' : alumno.ubicacion === 'CASA' , 'fa-graduation-cap' : alumno.ubicacion === 'ESCUELA'}"></i> {{ alumno.ubicacion | capitalize  }}
                    <p class="text-muted no-margin">{{alumno.u_nombre| capitalize}} {{alumno.u_apellido| capitalize}}</p>
                    <!-- <small>{{ alumno.cedula }}</small> -->
                    <i class="fa fa-calendar-o"></i> {{ alumno.registro | date:"MMM d, yyyy" }}
                    <span class="pull-right">
                        <small class="text-muted"> {{alumno.registro| date: "h:mm a"}}</small>
                    </span>
                </address>
            </div>
            <div class="box-footer no-padding">
                <div class="btn-group">
                    <button class="btn btn-link" ng-click="verHistorial(alumno)">
                        <i class="fa fa-location-arrow margin-r-5"></i>ver ubicaciones
                    </button>
                </div>

                <div class="btn-group pull-right margin-top margin-right">
                    <span class="label" ng-class="{'bg-green' : alumno.estado === 'ACTIVO' , 'bg-red' : alumno.estado === 'INACTIVO' }">{{alumno.estado}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-include="'template/modal_alumno.html'"></div>
<div ng-include="'template/modal_historial.html'"></div>
