<ol class="breadcrumb animated fadeIn fast">
	<li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
</ol>

<div class="row margin animated fadeIn fast">

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="alumno in alumnos.alumnos">
		<div class="box box-widget">
			<div class="box-body box-hover" ng-click="editar(alumno)">
				<h5 class="no-margin">
					<strong>{{ alumno.nombres | capitalize }} {{ alumno.apellidos | capitalize }}</strong>
				</h5>
				<p class="no-margin"><i class="fa fa-map-marker"></i><span> {{ alumno.direccion | mensajecorto | lowercase}}</span></p>
				<address class="no-margin">
					<i class="fa" ng-class="{'fa-bus' : alumno.ubicacion === 'EXPRESO' , 'fa-home' : alumno.ubicacion === 'CASA' , 'fa-graduation-cap' : alumno.ubicacion === 'ESCUELA'}"></i> {{ alumno.ubicacion | capitalize  }}
					<p class="text-muted no-margin">{{alumno.u_nombre | capitalize}} {{alumno.u_apellido | capitalize}}</p>
					<!-- <small>{{ alumno.cedula }}</small> -->
					<i class="fa fa-calendar-o"></i> {{ alumno.registro | date:"MMM d, yyyy" }}
					<span class="pull-right">
						<small class="text-muted"> {{alumno.registro | date: "h:mm a"}}</small>
					</span>
				</address>
			</div>
			<div class="box-footer no-padding">
				<div class="btn-group">
					<button class="btn btn-link" ng-click="verHistorial(alumno)">
						<i class="fa fa-location-arrow margin-r-5"></i>ver ubicaciones
					</button>
				</div>

				<div class="btn-group pull-right margin-top margin-right">
					<span class="label" ng-class="{'bg-green' : alumno.estado ==='ACTIVO' , 'bg-red' : alumno.estado === 'INACTIVO' }">{{alumno.estado}}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>


<div ng-include="'template/modal_alumnoST.html'"></div>
<div ng-include="'template/modal_historial.html'"></div>
