<div class="modal fade" id="modal_historial">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Ubicaciones de  <span class="text-bold text-muted">{{ alumnoSel.nombres | capitalize}}  {{ alumnoSel.apellidos | capitalize }}</span></h4>
			</div>

			<div class="modal-body">
				<div class="tab-pane">
					<ul class="control-sidebar-menu">

						<li class="margin" ng-repeat="his in historial">
							<i class="menu-icon fa" ng-class="his.estilocolor+' '+his.estiloicono"></i>
							<div class="menu-info">
								<strong><span><i class="fa fa-map-marker"></i></span> {{his.descripcion | capitalize}}</strong>
								<p>{{ his.fecha | date:"MMM d, yyyy" }} <spam class="text-muted">{{his.fecha | date: "h:mm a"}}</spam></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
