<ol class="breadcrumb animated fadeIn fast">
	<li><a href=""><i class="fa fa-users"></i> Cuentas</a></li>
</ol>

<div class="row margin">
	<div class="col-xs-12">

		<div class="alert" ng-show="usuarios.cargandoLista">
			<strong>Cargando</strong> espere por favor.....
		</div>

		<div class="box">

			<div class="box-header">

				<div class="box-tittle">
					<ul class="pagination pagination-sm no-margin pull-left">
						<li><a href="">Agregar</a></li>
					</ul>
				</div>

				<div class="box-tools">
					<ul class="pagination pagination-sm no-margin pull-right">
						<li><a ng-click="moverA(1)">«</a></li>
						<li ng-repeat="pagina in usuarios.paginas" ng-class="{'active' : usuarios.pag_actual===pagina.num } ">
							<a ng-click="moverA(pagina.num)">
								{{pagina.num}}
							</a>
						</li>
						<li><a ng-click="moverA(usuarios.total_paginas)">»</a></li>
					</ul>
				</div>
			</div>

			<div class="box-body">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>CI / Usuario</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Tipo</th>
							<th>Fecha Registro</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="usuario in usuarios.usuarios" ng-click="mostrarModal(usuario)" class="box-hover">
							<td> {{ usuario.cedula }}</td>
							<td> {{ usuario.nombres | capitalize }}</td>
							<td> {{ usuario.apellidos | capitalize }}</td>
							<td> {{ usuario.tipo | capitalize}}</td>
							<td class="text-muted"> {{ usuario.registro | date:"MMM d, yy ' - '" }} {{usuario.registro | date: "h:mm a"}}</td>
							<td> <span class="label " ng-class="{'bg-green' : usuario.estado ==='ACTIVO' , 'bg-red' : usuario.estado === 'INACTIVO' }">{{usuario.estado}}</span></td>
						</tr>
					</tbody>
				</table>
				<div class="box-footer clearfix">
					<ul class="pagination pagination-sm no-margin pull-right">
						<li><a ng-click="moverA(1)">«</a></li>

						<li ng-repeat="pagina in usuarios.paginas" ng-class="{'active' : usuarios.pag_actual===pagina.num } ">
							<a ng-click="moverA(pagina.num)">
								{{pagina.num}}
							</a>
						</li>

						<li><a ng-click="moverA(usuarios.total_paginas)">»</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>


<div ng-include="'template/modal_usuario.html'"></div>